body {
    background-image: url("../../../../public/assets/erreur404.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    margin: 0;                    
    height: 100vh;                
}